<div>
  <div style='display: flex; align-items: center;'>
    <img
      src='{{flags.svg}}'
      alt='{{name.official}}'
      width='30'
      style='margin-right: 11px;'
    />
    <h1 style='font-size:34px; font-weight:700;'>{{name.official}}</h1>
  </div>

  <p><span
      style='font-size: 17px; font-weight: 600; margin-bottom: 15px;'
    >Capital: </span>
    {{capital}}</p>
  <p><span
      style='font-size: 17px; font-weight: 600; margin-bottom: 15px;'
    >Population: </span>
    {{population}}</p>

  <p><span style='font-size: 17px; font-weight: 600;'>Languages: </span>
    {{languages}}
  </p>

</div>